#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
	margin:0;
	padding:0;
}

.App {
	text-align: center;
	justify-content: center;
	justify-items: center;
	max-width: 100%;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: grid;
	flex-direction: column;
	position: relative;
}

.search-input {
	width: 1rem;
	height: 1rem;
	border: none;
	background-color: var(--cl-bg);
	border-bottom: 0.1px solid white;
	margin-top: 2rem;
	font-weight: 200;
	color: white;
	font-size: 1rem;
}
.search-input:focus {
	outline: none;
}

.search-btn {
	background-color: transparent;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	border:none;
}

.icon {
	width: 15px;
	height: 15px;
}

.icon:hover{
	width: 16px;
	height: 16px;
	cursor: pointer;
}

table {
	width: 500px;
	height: 300px;
	margin-top: 2rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
  }

.arrow {
	width: 7rem;
	height: 2rem;
	margin-top: 1rem;
}

.pagination {
	font-size: 2rem;
}
